.bt-main-content-area {
    padding: 10px 3rem;
}

.bt-main-page-title-box {
    border-bottom: 1px solid #ececec;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.bt-main-page-title-box .bt-main-page-title {
    position: relative;
    top: 8px;
}